@font-face {
    font-family: 'Rubik-Regular';
    src: url(./assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url(./assets/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'Rubik-Light';
    src: url(./assets/fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url(./assets/fonts/Rubik-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik-Regular;
}

.app {
    height: 100vh;
    max-height: 100vh;
    background: #fefefe;
}
